body {
    background: linear-gradient(90deg, #119793, #ac406e);
}

h1 {
    color: white;
    font-size: 50px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-flex;
}

a {
    text-decoration: none;
}

.nav-login-out-button {
    margin-left: 40em;
    margin-right: 20px;
}

.nav-buttons {
    padding: 5px 15px;
    border: 1px solid #119793;
    background-color: #119793;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    box-shadow: 3px 3px 10px black;
}

.nav-buttons:hover {
    background-color: transparent;
}

.search-bar-div {
    text-align: center;
}

.search-button {
    margin: 10px;
    padding: 8px 25px;
    border: 1px solid #119793;
    background-color: #119793;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    box-shadow: 3px 3px 10px black;
}

.search-button:hover {
    background-color: transparent;
}

.search-input {
    background-color: white;
    border: 3px solid #ac406e;
    border-radius: 15px;
    padding: 10px;
    width: 60%;
    box-shadow: 3px 3px 10px black;
}

.video-list-info {
    overflow-wrap: break-word;
    text-decoration: none;
}

.video-list-box {
    width: 70%;
}

.video-list-item {
    width: 500px;
    margin: 30px;
}
