body {
    background: linear-gradient(90deg, #119793, #ff6eb7);
}

h1 {
    color: #d9fffc;
    text-shadow: 1px 1px 2px #000000;
    font-size: 50px;
}

ul {
    list-style-type: none;
    background-color: #d9fffc3a;
    border-radius: 15px;
}

li {
    display: inline-flex;
}

a {
    text-decoration: none;
}

hr {
    border-color: #ffeef8;
    border-style: solid;
    box-shadow: 1px 1px 3px black;
}

img {
    border-radius: 30px;
    box-shadow: 2px 2px 15px #000000;
}

.nav-login-out-button {
    margin-left: 40em;
    margin-right: 20px;
}

.nav-buttons {
    padding: 5px 15px;
    border: 1px solid #119793;
    background-color: #119793;
    color: #ffeef8;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    box-shadow: 3px 3px 10px black;
}

.nav-buttons:hover {
    background-color: transparent;
    color: #d9fffc;
}

.search-bar-div {
    text-align: center;
}

.search-button {
    margin: 10px;
    padding: 8px 25px;
    border: 1px solid #119793;
    background-color: #119793;
    color: #ffeef8;
    text-shadow: 1px 1px 1px black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    box-shadow: 3px 3px 10px black;
}

.search-button:hover {
    background-color: transparent;
    color: #d9fffc;
}

.search-input {
    background-color: #ffeef8;
    border: 3px solid #ac406e;
    border-radius: 15px;
    padding: 10px;
    width: 60%;
    box-shadow: 3px 3px 10px black;
}

.video-list-info {
    overflow-wrap: break-word;
    text-decoration: none;
    color: #ffeef8;
    text-shadow: 1px 1px 1px black;
}

.description {
    font-weight: 100;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.video-list-box {
    width: 70%;
}

.video-list-item {
    width: 500px;
    margin: 30px;
}

.video-list {
    margin: 0;
    padding: 0;
}

.comment-header {
    text-align: center;
    color: #d9fffc;
    text-shadow: 1px 1px 1px black;
    font-size: 32px;
}

.comment-hr {
    border-color: #d9fffc;
}

.comment-list-div {
    position: absolute;
    left: 25%;
    background-color: #d9fffc3a;
    width: 50%;
    margin-top: 30px;
    border-radius: 15px;
    padding: 2%;
}

.individual-comment-box {
    padding: 20px;
    color: #ffeef8;
    text-shadow: 1px 1px 1px black;
}

.comment-username {
    font-size: 25px;
}

.comment-text {
    font-size: 18px;
    text-align: center;
}

.comment-user-false {
    text-align: center;
    font-size: 36px;
    color: #d9fffc;
    text-shadow: 1px 1px 1px black;
    height: 100px;
}

.add-comment-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border: 5px solid #ac406e;
    box-shadow: 1px 1px 5px black;
    border-radius: 100px;
}

.comment-form {
    padding: 25px;
}

.comment-input {
    width: 300px;
    height: 30px;
    padding: 20px;
    margin-right: 30px;
    border: 3px solid #119793;
    border-radius: 15px;
    box-shadow: 1px 1px 8px black;
}

.comment-form-button {
    padding: 8px 15px;
    background-color: #119793;
    border: 3px solid #119793;
    color: #ffeef8;
    text-shadow: 1px 1px 1px black;
    border-radius: 15px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    box-shadow: 3px 3px 10px black;
}

.comment-form-button:hover {
    background-color: transparent;
}
